* {
  font-family: "Nunito Sans", sans-serif;
}

#sidebar {
  width: 10vw;
  height: 100vh;
  background: #2d3853;
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  margin-top: 0px;
  margin-left: 0px;
  border-radius: 5px;
}

#sidebar ul {
  list-style-type: none;
  padding: 15px 15px 0px 15px;
}
#sidebar a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: all 0.3s;
  font-size: 35px;
  text-align: center;
  margin-top: 35px;
}
#sidebar p {
  font-size: 16px;
  color: white;
  text-align: center;
}

#sidebar a:hover {
  border-radius: 5px;
  box-shadow: 0px 0px 0px #070913, 0px 0px 0px #171d2b,
    inset 4px 4px 8px #171d2b, inset -4px -4px 8px #6982bf;
}

#sidebar span {
  align-items: center;
}

#main {
  padding-left: 11vw;
}

#main p {
  color: white;
  font-size: 16px;
}

.submit-area {
  padding: 30px;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 5px 5px gray;
  color: white;
  background-color: royalblue;
  float: left;
  margin-right: 15px;
  height: 150px;
}

.container-input {
  display: inline-block;
  top: 15vh;
  position: relative;
}

.container-display {
  float: left;
  height: 15vh;
  position: absolute;
}

#account-area {
  display: flex;
}

.deposit {
  background-color: slateblue;
}

.withdraw {
  background-color: lightsalmon;
}

.balance {
  background-color: tomato;
}

.status {
  margin: 0 20px;
  color: white;
  padding: 20px;
  border-radius: 10px;
}

#content-main {
  padding-left: 11vw;
  position: absolute;
  color: white;
}
